<div class="form-container">
        <mat-card (mouseover)="over()" (mouseleave)="leave()" class="cardStyle" [class.matcardShadow]="matcardClass">
            <mat-card-header class="heading1">Forget Password 
            </mat-card-header>
            <mat-card-content class="matcartontent">
              <form [formGroup]="registration">
                <mat-form-field appearance="standard" class="matInputField">
                    <mat-label class="fieldLable">* First Name</mat-label>
                    <input type="text" matInput placeholder="Enter First Name"  class="fieldLable">
                    <mat-icon matSuffix class="fieldIco">person</mat-icon>
                    <!-- <mat-error *ngIf="hasError('firstName', 'required')" class="alert alert-danger">First Name is required</mat-error> -->
                </mat-form-field>
                
                   
                </form>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!registration.valid" mat-button  style="background-color:orange; color:white" >Submit</button>
              <a routerLink="/sellerLogin" mat-button style="background-color:orangered;color:white">sellerLogin</a>
              <!-- <button mat-button style="background-color:orangered;color:white">Register</button> -->
              <button routerLink="/sellerRegistration" mat-button style="background-color:SlateBlue; color:white">Seller Registration</button>
            </mat-card-actions>
          </mat-card>
        </div>